@model IEnumerable<Tarea_4.Consumo_Agua>

@{
    ViewBag.Title = "Index";
}

<h2>Facturas Agua</h2>

<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Periodo
        </th>
        <th>
            Promedio Consumo Agua
        </th>
        <th>
            Consumo Actual Agua
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Periodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromedioConsumoAgua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsumoActualAgua)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id, idCliente = item.IdCliente }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id, idCliente = item.IdCliente })
        </td>
    </tr>
}

</table>
